.tConsole > header, .tConsole-answer {
	margin-bottom: 10px;
}

/* blue isn't looking great in a console */
.tConsole > a {
	text-decoration: underline;
	color: silver;
}

.tConsole {
	font-family: 'Lucida Console', 'Consolas', 'Inconsolata';
	color: silver;
	background-color: black;
/*	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	font-size: 14px;
	cursor: default;
}

.tConsole:focus {
	outline: none;
}